{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
//    "indent": ["error", 4],
    "eqeqeq": 0,     // require the use of === and !==
    "no-shadow": 0,  // disallow declaration of variables already declared in the outer scope
    "no-unused-vars": 0, // disallow declaration of variables that are not used in the code
    "no-use-before-define": 0,        // disallow use of variables before they are defined
    "no-return-assign": 0      // disallow use of assignment in return statement
  }
}