.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.footer__logo {
    width: 230px;
    height: auto;
    margin-left: -60px;
}

.footer__sound {
    width: 100px;
    margin: 0 160px;
}

.footer__score {
    width: 50px;
    margin: 0 125px;
}

.footer__info {
    width: 50px;
    margin: 0 55px;
}