.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.footer__logo-img {
    width: 230px;
    height: auto;
    margin-left: -60px;
}

.footer__sound-img {
    width: 100px;
    margin: 0 160px;
}

.footer__score-img {
    width: 50px;
    margin: 0 125px;
}

.footer__info-img {
    width: 50px;
    margin: 0 55px;
}