.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logo_img {
    width: 230px;
    height: auto;
    margin-left: -60px;
}

.sound_img {
    width: 100px;
    margin: 0 160px;
}

.score_img {
    width: 50px;
    margin: 0 125px;
}

.info_img {
    width: 50px;
    margin: 0 55px;
}