<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="logo">
        <p class="rotateit">TANKS</p>
        <img class="logo_img" src="images/logo.png">
    </div>
    <div class="logo logo_button">
        <button class="button button_start" onclick="location.href='/'">START</button>
        <button class="button button_login" onclick="location.href='/signin'">SIGNIN</button>
        <button class="button button_register" onclick="location.href='/signup'">SIGNUP</button>
    </div>
    <div class="logo img_button">
        <a href="/" class="logo_img sound_img"></a>
        <a href="/score" class="logo_img score_img"></a>
        <a href="/about" class="logo_img info_img"></a>
    </div>
</body>
</html>