body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.rotateit {
  font-size: 2.7em;
  font-family: "Arial Black", Gadget, sans-serif;
  transform: rotate(-90deg);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_text {
  font-size: 2em;
  font-weight: 700;
  font-family: "Verdana", sans-serif;
  margin: 1% 0 1% 1%;
}

.logo_button {
  flex-flow: column nowrap;
}

.img_button {
  width: 15%;
  height: auto;
}

.logo_img {
  width: 25%;
  height: auto;
  margin-left: -7%;
}

.sound_img {
  display: block;
  background-image: url('../images/sound.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

.score_img {
  display: block;
  background-image: url('../images/score.png');
  background-size: cover;
  width: 45px;
  height: 58px;
  margin: 0 17% 0 10%;
}

.info_img {
  display: block;
  background-image: url('../images/info.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}

.button {
  background-color: whitesmoke;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Verdana", sans-serif;
  color: black;
  padding: 5% 10%;
  border: 3px solid #041712;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 7em;
  margin: 5% 0 5% 15%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button_start:hover, .button_login:hover, .button_register:hover {
  background-color: rgba(4, 23, 18, 0.04);
  border: 3px solid rgba(240, 102, 189, 0.19);
}

.input_form {
  flex-flow: column nowrap;
  margin-left: 2%;
}

.input {
  width: 100%;
  padding: 2% 0 2% 2%;
  font-size: 1em;
  margin: 3% 0;
  font-family: "Helvetica";
  border-radius: 5px;
  background: #e9ecf0;
  color: #5E6D82;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  background-color: #F3F3F3;
}

.img-a {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../images/sound.png');
  background-size: cover;
}

.table_form {
  width: 20%;
}

table {
  border-collapse: collapse;
  font-family: "Verdana", sans-serif;;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 3%;
}

.score_table > tr:nth-child(even){background-color: #f2f2f2}