.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin: auto;
    margin-bottom: 15px;

    &__input {
        display: block;
        width: 350px;
        padding: 9px 0 12px 12px;
        font-size: 1em;
        margin: 5px 0 16px ;
        font-family: "Helvetica";
        border-radius: 7px;
        background: #e9ecf0;
        color: #5E6D82;
        box-sizing: border-box;
    }

    &__button {
        background-color: whitesmoke;
        font-size: 1.5em;
        font-weight: 700;
        font-family: "Verdana", sans-serif;
        color: black;
        padding: 7px 17px;
        border: 3px solid #041712;
        border-radius: 10%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 7em;
        margin: 25px 0 5px 15px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    &__submit {
        background-color: whitesmoke;
        font-size: 1.5em;
        font-weight: 700;
        font-family: "Verdana", sans-serif;
        color: black;
        padding: 7px 17px;
        border: 3px solid #041712;
        border-radius: 10%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 7em;
        margin: 15px 0 5px 15px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-left: 100px;
        margin-bottom: -10px;
    }

    &__submit:hover {
        background-color: rgba(4, 23, 18, 0.04);
        border: 3px solid rgba(169, 169, 169, 0.19);
    }

    &__back {
        margin: 25px 0 0 15px;
        width: 130px;
    }

    &__back:hover {
        background-color: rgba(4, 23, 18, 0.04);
        border: 3px solid rgba(169, 169, 169, 0.19);
    }
}

