.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    &__logo {
         width: 230px;
         height: auto;
         margin-left: -60px;
    }

    &__text {
        font-size: 2.7em;
        font-family: "Arial Black", Gadget, sans-serif;
        transform: rotate(-90deg);
    }
}

.theme {
    background-color: whitesmoke;
    font-weight: 700;
    font-family: "Verdana", sans-serif;
    color: black;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 7em;
    margin: 15px 0 5px 15px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 1px 7px;
    border: none;
    font-size: 1.1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.theme:hover {
    background-color: #e9ecf0;
}